body{background-image: url(img/backgroundimg1.jfif);
background-size: cover;}
.header{border: 1px solid black;
text-align: center;
background-color: white;
background-size: cover;}
.text{border: solid black;
padding: 5px;
background-color: white;
text-align: center}
.texta{border: solid black;
padding: 5px;
background-color: white;
text-align: left;}
.nav{border: solid black;
padding: 10px;
margin: 10px;
background: linear-gradient(blue, red);
text-decoration: none;
color: black;
display: inline-flex;
}
.nav:hover{transform: scale(1.2);
transition: 1s}
.navig{text-align: center;}
.glav{font-weight: bold;}
.pr{font-style: italic;}
.mems{max-width: 400px;}
.memcon{text-align: center;}
.footer {
 background-color: #aac5fa;
  position:fixed;
   right:0;
  bottom:0;
  width:100%;
  height: 90px;}
.socset{text-decoration: none;
margin-inline: 5px;
font-size: 20px;
}
